* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.pages {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  transition: bottom .7s;
}

.page:first-child {
  bottom: 0;
}

.first {
  background: linear-gradient(#00111e 30%, #033d5e);
}

.second {
  background-color: #073642;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.third {
  background-color: #162238;
}

.pagination {
  position: absolute;
  right: 20px;
  top: 5%;
  transform: translateY(-50%);
}

.pagination > li {
  list-style: none;
  height: 20px;
  width: 90px;
  background: #757c83;
  border-radius: 10%;
  margin-top: 10px;
  transition: background .7s;
}

.pagination > li.active {
  background: #ffffff;
}

.title {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: azure;
  font-size: 5vh;
}
.secondPageLeft {
  width: 35vw;
  min-width: 200px;
  height: 100%;
  background-color: #0b212f;
}

.secondPageRight {
  width: 65vw;
  height: 100%;
  background-color: #a2b4c3;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.work {
  margin: 30px;
  padding: 30px;
  align-items: stretch;
  justify-content: center;
  border: 1px solid #ffffff;
  color: aliceblue;
  flex: 1 1 10vh;
  text-align: center;
  font-size: 4vh;
}

