* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.pages {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  transition: bottom .7s;
}

.page:first-child {
  bottom: 0;
}

.first {
  background: linear-gradient(#00111e 30%, #033d5e);
}

.second {
  background-color: #033d5e;
}

.third {
  background: linear-gradient(#0b212f 60%, #00111e);
}

.pagination {
  position: absolute;
  right: 20px; 
  top: 5%;
  transform: translateY(-50%);
}

.pagination > li {
  list-style: none;
  height: 1vh;
  width: 2vw;
  background: #757c83;
  border-radius: 10%;
  margin-top: 10px;
  transition: background .7s;
}

.pagination > li.active {
  background: #ffffff;
}

.title {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  color: azure;
  font-size: 5vh;
}


.secondFlex {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.head {
  width: 100%;
  height: 10%;
  background-color: #033d5e;
  font-size: 3em;
  text-align: center;
  color: #a2b4c3;

}

.secondPageLeft {
  width: 35vw;
  min-width: 150px;
  height: 90%;
  background-color: #0b212f;
}

.secondPageRight {
  width: 65vw;
  height: 90%;
  background: #a2b4c3;
  display: flex;
  flex-direction: raw;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;

}

@media screen and (max-device-width: 800px) {
  .secondPageRight {display: none;}
}

@media screen and (max-device-width: 800px) {
  .secondPageLeft {width: 100%;}
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.skills {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.work {
  height: 10%;
  margin: 2%;
  border: 5px solid #a2b4c3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  color: #a2b4c3;
  background: linear-gradient(to right, #0b212f 70%, #a2b4c3);
}

.work:hover {
  background: #a2b4c3;
}

@media screen and (max-device-width: 800px) {
  .work {font-size: 2em;}
}

.skillsImage {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 5px solid #0b212f;
  box-shadow: 0 0 30px #0b212f;
  margin: 5%;
}

.image {
  display: block;
  width: 25%;
  height: 25%;
  margin: 3%;
}

.popup {
  display: block;
  width: 50%;
}

.study {
  opacity: 0.5;
  
}

.study:hover {
  opacity: 1;
}

.head {
  width: 95%;
  position: relative;
  text-align: center;
  color: #a2b4c3;;
  font-size: 4vh;
}
@media screen and (max-device-width: 600px) {
  .head {font-size: 3vh;}
}
.text {
  display: none;
  color: #0b212f;
  font-size: 0.7em;
}
.work:hover .show {
  display: none;
}
.work:hover .text {
  display: block;
}
