/* Website style*/

* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.pages {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  transition: bottom .7s;
}

.page:first-child {
  bottom: 0;
}

.first {
  background: linear-gradient(#00111e 30%, #033d5e);
}

.second {
  background-color: #033d5e;
}

.third {
  background: linear-gradient(#033d5e 60%, #00111e);
}

.pagination {
  position: absolute;
  right: 20px; 
  top: 5%;
  transform: translateY(-50%);
}

.pagination > li {
  list-style: none;
  height: 1vh;
  width: 2vw;
  background: #757c83;
  border-radius: 10%;
  margin-top: 10px;
  transition: background .7s;
}

.pagination > li.active {
  background: #ffffff;
}

/* first page style */

.title {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  color: #a2b4c3;
  font-size: 5vh;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

/* Second page style */

.secondFlex {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.head {
  width: 100%;
  height: 10%;
  background-color: #033d5e;
  font-size: 3em;
  text-align: center;
  color: #a2b4c3;
}

.head {
  width: 95%;
  position: relative;
  text-align: center;
  color: #a2b4c3;;
  font-size: 4vh;
}

@media screen and (max-device-width: 600px) {
  .head {font-size: 3vh;}
}

#wrapper, #modal {
  display: none;
}

#button {
  position: absolute;
  top: 50%;
  left: 5%;
  height: 3vh;
  width: auto;
  background-color: #a2b4c3;
  font-size: 50%;
  padding: 5px;
  box-shadow: 0 0 30px #a2b4c3;
}

#wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal {
  width: auto;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  z-index: 99;
  background-color: #a2b4c3;;
  font-size: 1em;
  padding: 1%;
  color: #00111e
}

.secondPageLeft {
  width: 35vw;
  min-width: 150px;
  height: 90%;
  background-color: #033d5e;
}

@media screen and (max-device-width: 800px) {
  .secondPageLeft {width: 100%;}
}

.skills {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.work {
  height: 10%;
  margin: 2%;
  border: 5px solid #a2b4c3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #033d5e 70%, #a2b4c3);
}

.work:hover {
  background: #a2b4c3;
}

.show {
  font-size: 3em;
  color: #a2b4c3;
}

.text {
  display: none;
  color: #0b212f;
  font-size: 1.5em;
  overflow: hidden;
}

@media screen and (max-device-width: 800px) {
  .show {font-size: 1.5em;}
}

@media screen and (max-device-width: 800px) {
  .text {font-size: 1em;}
}

.work:hover .text {
  display: block;
}

.work:hover .show {
  display: none;
}


.study {
  opacity: 0.5;
}

.study:hover {
  opacity: 1;
}

.secondPageRight {
  width: 65vw;
  height: 90%;
  background: #a2b4c3;
  display: flex;
  flex-direction: raw;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

@media screen and (max-device-width: 800px) {
  .secondPageRight {display: none;}
}

.skillsImage {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 5px solid #033d5e;
  box-shadow: 0 0 30px #033d5e;
  margin: 5%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.slidesDescription {
  color: #033d5e;
  font-size: 4vh;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* third page*/

.contactsHead {
  width: 100%;
  position: absolute;
  top: 20%;
  text-align: center;
  color: #a2b4c3;
  font-size: 5vh;
}

.thirdTable {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto;
}

.thirdContacts {
  margin-right:40px;
}

.contactsImg {
  float: left;
  margin-right: 20px;
}

.contacts {
  text-decoration: none;
  font-size: 4em;
  color: #a2b4c3;
  padding-right: 20px;
  border-right: 2px solid #a2b4c3;
}

@media screen and (max-device-width: 600px) {
  .contacts {font-size: 2em;}
}